<footer class="py-4 mt-0">
  <div class="container text-end">
    <%= link_to root_path, class: "d-inline-block mb-2" do %>
      <%= image_tag "logo_image.png", size: "150x50", class: "img-fluid"%>
    <% end %>
  </div>
</footer>