<main>
  <div class="position-relative overflow-hidden w-100" style="height: 100vh;">
    <%= image_tag "travel.jpg", class: "w-100 h-100 object-fit-cover position-absolute top-0 start-0"%>
  </div>
</main>