<div class="container mt-5">
  <div class="row">
  <h4 class="mb-5">登録施設一覧</h4>
    <% if @rooms.any? %>
      <%= render "shared/rooms" %>
    <% else %>
      <h4 class="mb-5">登録した施設はありません</h4>
    <% end %>
  </div>
  </div>
</div>