<div class="container mt-5">
  <div class="row">
    <% if @rooms.any? %>
      <h4 class="mb-5"><span class="fw-bold me-2"><%= @rooms.count %></span>件が見つかりました</h4>
      <%= render "shared/rooms" %>
    <% else %>
      <h4 class="mb-5">対象が見つかりませんでした</h4>
    <% end %>
  </div>
  </div>
</div>